.spinner-wrapper
    .p-center-wrapper
        .la-line-scale.la-dark
            div
            div
            div
            div
            div
            h4#preloader-title
            h5#preloader-content