nav#navbar-id.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#collapsible-nav')
            span.sr-only Ming
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href='home.html') Angela Roggero
    #collapsible-nav.collapse.navbar-collapse.navbar-right
        ul.nav.navbar-nav
            li
                a.selected.hvr-underline-from-left(href='#my-work') Projects
            li
                a.hvr-underline-from-left(href='../assets/Yanfeng-Jin-Resume-v8.1.pdf', target='_blank') Resume
            li
                a.hvr-underline-from-left(href='https://medium.com/@yanfengjin', target='_blank') Writings
            li
                a.hvr-underline-from-left(href='about-me.html') About Me